# Ignore all
*

# Unignore all with extensions
!*.*

# Ignore build files
build/**

# Ignore media files
media/**

# Unignore all dirs
!*/


# Ignore vscode configuration
.vscode

# Ignore DS_Store Mac OS X
.DS_Store

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.mtl
*.ppm

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
